/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Animation when entering site */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Declaring CSS variables */
:root 
  --pic-width: 150px;
  --pic-height: 100px;
}


body {
  margin-left: 48px;
  margin-right: 48px;
}

.header {
  display: flex;
  background-image: linear-gradient(to right top, #1564c8, #2669cc, #326fcf, #3d74d3, #467ad6, #557dde, #637fe5, #7281ec, #8f7df6, #ae77fc, #cf6dfe, #f05ffb);
  color: white;
}

.navbar {
  
}

.main-content, .latest-project, .card-content{
  margin-right: 48px;
  margin-left: 48px;
}

.main-content {
  /* display: flex; */
}

.navbar div a {
  justify-content: space-between;
  list-style-type: none;
  max-width: 95%;
  margin: 0 auto;
  color: white;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 5px 10px 15px 20px;
}

.main-content {
  
}

.latest-project {
  display: flex;
  border: black;
}

.card-content { 
  display: flex;
  margin: 20x;
  padding: 8px;
  background-image: tr;
}


.card {
  justify-content: space-between;
  border: black;
  margin: 10px;
  padding: 10px;
  width: 18rem;
  background-color: #57585B;
}

.card:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  color: white;
}

.card div .project-snapshot {
  align-items: center;
  --pic-width: 150px;
  --pic-height: 100px;
}


.project-snapshot {
  width: var(--pic-width);
  height: var(--pic-height);
}

.project-body {
}

.btn .btn-primary {
}

.footer-banner {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to right top, #1564c8, #2669cc, #326fcf, #3d74d3, #467ad6, #557dde, #637fe5, #7281ec, #8f7df6, #ae77fc, #cf6dfe, #f05ffb);
  color: white;
  text-align: center;
}

